<section id="main" class="m-2">
   
  
  
  <nav  class="navbar navbar-expand-lg navbar-dark bgcolor" style="background:rgb(34, 80, 178)" width="100%"><a href="#" class="navbar-brand">
    <img src="https://thumbs.dreamstime.com/z/rocket-idea-icon-logo-design-element-can-be-used-as-as-complement-to-95682747.jpg" height="28" alt="CoolBrand">
  </a>
  <a class="navbar-brand" routerLink="" style="color: aliceblue;"> User Dashboard</a>
   
  </nav>

  </section>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row">
    <div class="col-md-3">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="file-manager">
                    <h5>Show:</h5>
                    <a href="#" class="file-control active">Ale</a>
                    <a href="#" class="file-control">Documents</a>
                    <a href="#" class="file-control">Audio</a>
                    <a href="#" class="file-control">Images</a>
                    <div class="hr-line-dashed"></div>
                    <form #form>
                    <div class="file-upload-wrapper">

                      <input type="file" name="images"  multiple (change)="selectMultipleImage($event)"  />
                    </div>
                    <button type="submit" (click)="onMultipleSubmit(form)">Upload Files</button>
                </form>
                    <div class="hr-line-dashed"></div>
                    <h5>Folders</h5>
                    <ul class="folder-list" style="padding: 0">
                        <li><a href=""><i class="fa fa-folder"></i> Files</a></li>
                        <li><a href=""><i class="fa fa-folder"></i> Pictures</a></li>
                        <li><a href=""><i class="fa fa-folder"></i> Web pages</a></li>
                        <li><a href=""><i class="fa fa-folder"></i> Illustrations</a></li>
                        <li><a href=""><i class="fa fa-folder"></i> Films</a></li>
                        <li><a href=""><i class="fa fa-folder"></i> Books</a></li>
                    </ul>
                    <h5 class="tag-title">Tags</h5>
                    <ul class="tag-list" style="padding: 0">
                        <li><a href="">Family</a></li>
                        <li><a href="">Work</a></li>
                        <li><a href="">Home</a></li>
                        <li><a href="">Children</a></li>
                        <li><a href="">Holidays</a></li>
                        <li><a href="">Music</a></li>
                        <li><a href="">Photography</a></li>
                        <li><a href="">Film</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9 animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="file-box">
                    <div  *ngFor="let file of filesList" class="file">
                        <a href="">
                            <span class="corner"></span>

                            <div class="icon">
                                <i class="fa fa-file"></i>
                            </div>
                            <div class="file-name"><a href="http://127.0.0.1:3000/api/uploadedfiles/{{ file.fileName }}" class="nav-link"
                              target="blank">{{ file.fileName }}</a>
                         
                                <br>
                                <small>{{file.createdAt}}</small>
                            </div>
                        </a>
                        <button
                class="btn-sm m-1 border-dark col-md-6 btn-secondary"
                (click)="openModel(file._id, modalForm)"  width  ="100%"
              >
                Share With
              </button>
                    </div>

                </div>
                

            </div>
        </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-10 offset-1">
      <div class="row d-flex flex-row">
        <button
          class="col-md-4 btn btn-info mr-2 ml-auto"
          (click)="toggleformat('uploadfile')"
        >
          Uploades Files
        </button>
        <button
          class="col-md-4 btn btn-info mr-auto"
          (click)="toggleformat('shared')"
          (click)="fetchSFile()"
        >
          Shared with me
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 offset-1">
      <div class="row d-flex flex-row card">
        <div *ngIf="uploadfile" class="col-md-12">
          <strong>
            <h4>Uploaded Files</h4>
          </strong>
          <hr />
          <ul>
            <li *ngFor="let file of filesList" class="d-flex flex-row">
              <div class="col-md-9">{{ file.fileName }}</div>
              <button
                class="btn-sm m-1 border-dark col-md-3 btn-secondary"
                (click)="openModel(file._id, modalForm)"
              >
                Share With
              </button>
            </li>
          </ul>
        </div>
        <div *ngIf="!uploadfile" class="col-md-12">
          <strong>
            <h4>Files Shared with me</h4>
          </strong>
          <hr />
          <ul>
            <li *ngFor="let file of sharedWithMe" class="d-flex flex-row m-1">
              <div class="col-md-12"><a href="http://127.0.0.1:3000/api/uploadedfiles/{{ file }}" class="nav-link"
                target="blank">{{ file }}</a></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>



<ng-template #modalForm>
    <div class="container">
      <div class="py-3 text-center">
        <h2 class="text-dark">Share file</h2>
      </div>
  
      <div class="row">
        <div class="col-md-8 mx-auto">
          <form #shareForm method="POST" action="javascript:void(0)">
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="email">Friend's email</label>
                <input
                  type="text"
                  name="email"
                  class="form-control border-info"
                  id="email"
                  placeholder=""
                  value=""
                  required
                />
              </div>
            </div>
            <hr class="mb-4" />
            <button
              (click)="shareFile($event, shareForm)"
              class="col-md-3 btn btn-outline-primary btn-block mb-3"
              type="submit"
            >
              Share
            </button>
          </form>
        </div>
      </div>
    </div>
  </ng-template>
  