

 <h1 class="text-center">Login</h1>
 <div class="card">
 <div class="row m-3">
     <div class="col-xs-12 col-md-12">
        
         <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
             <div class="form-group">
                 <label for="email">E-Mail</label>
                 <input 
                     type="email"
                     id="email"
                     class="form-control"
                     ngModel
                     name="email"
                     required
                     email
                 />
             </div>
             <div class="form-group">
                 <label for="password">Password</label>
                 <input 
                     type="password"
                     id="password"
                     class="form-control"
                     ngModel
                     name="password"
                     required    
                 />
             </div>
             <div>
                 <button class="btn btn-success" [disabled]="!loginForm.valid">Login</button> |
                 <button class="btn btn-primary" routerLink="../signup" type="button">Sign Up</button>
             </div>
         </form>
     </div>
 </div>
 </div>