<section id="main" class="m-2">
  <div class="container-fluid">


<nav  class="navbar navbar-expand-lg navbar-dark bgcolor" style="background:rgb(34, 80, 178)"><a href="#" class="navbar-brand">
  <img src="https://thumbs.dreamstime.com/z/rocket-idea-icon-logo-design-element-can-be-used-as-as-complement-to-95682747.jpg" height="28" alt="CoolBrand">
</a>
<a class="navbar-brand" routerLink="" style="color: aliceblue;"> User Dashboard</a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item" >
      <button class="nav-link text-dark "  (click)="uploadFile()" class="nav-link text-dark" >upload File</button></li>
      
  </ul>
  
  
</nav>

  <!-- <table class="table table-striped text-center table-hover"> -->
   <table class="table table-bordered table-dark">
      
      <tbody>
        <tr *ngFor='let user of users;index as i'>
          <td scope="row"><img
            src="http://127.0.0.1:3000/api/{{ user.profile }}"
           
            alt="{{ user.name }}"
            height="20%"
            width="10%"
          />
    </td>
          <td><b>{{user.username}}</b></td>
          <td><Button class="btn btn-primary btn-block"
            (click)="addFriend(user._id)"  >
          Add Friend <i class="fa fa-handshake-o"></i></Button></td>
        </tr>
      </tbody>
    </table>
  

  <div class="container">
    <nav class="navbar">
      <a class="navbar-brand" style="color: aliceblue;" >Friends Search </a>
        <form class="form-inline">
          <div class="form-group">
            <input class="form-control mr-sm-2" name="searchsText" type="search" [(ngModel)]="searchText" placeholder="Search" aria-label="Search">
          </div>
          </form>
    </nav>
    <hr>
    <table class="table table-bordered table-dark">
      
      <tbody>
        <tr *ngFor="let friend of friendList | filter:searchText index as i">
          <td scope="row"><img
            src="http://127.0.0.1:3000/api/{{ friend.profile }}"
           
            alt="{{ friend.name }}"
            height="20%"
            width="10%"
          />
    </td>
          <td><b>{{friend.username}}</b></td>
          <td><Button class="btn btn-primary btn-block"
            (click)="uploadFile()">
          send File </Button></td>
          <td><Button class="btn btn-secondary btn-block"
            (click)="removeFriend(friend._id)">
          Remove Friend </Button></td>
        </tr>
      </tbody>
    </table>
  </div>
 </div>
 </section>

 <ng-template #modalForm>
  <div class="container">
    <div class="py-3 text-center">
      <h2 class="text-dark">Share file</h2>
    </div>

    <div class="row">
      <div class="col-md-8 mx-auto">
        <form #shareForm method="POST" action="javascript:void(0)">
          <div class="row">
            <div class="col-md-12 mb-3">
              <label for="email">Friend's email</label>
              <input
                type="text"
                name="email"
                class="form-control border-info"
                id="email"
                placeholder=""
                value=""
                required
              />
            </div>
          </div>
          <hr class="mb-4" />
          <button
            (click)="shareFile($event, shareForm)"
            class="col-md-3 btn btn-outline-primary btn-block mb-3"
            type="submit"
          >
            Share
          </button>
        </form>
      </div>
    </div>
  </div>
</ng-template>

